extends layout 

block content 
    h1 Create new Category
    form(method="POST" action="")
        div
            input(type="text" placeholder="Category" name="category")
        div
            input(type="submit" value="Create new Category")