extends layout 

block content
    h1 Add a new Item 
    form(method="POST" action='')
        div
            input(type="text" placeholder="Item name" name="name")
        div
            input(type="text" placeholder="Price" name="price")
        div
            input(type="number" placeholder="Stock" name="stock")
        div
            select#cars(name='category')
                <option value="" disabled selected>Category</option>
                each category in category_list
                    option(value=category._id) #{category.name}
        div 
            input(type="submit" value="Create Item")



